body {
 overflow-y: hidden;
 overflow-x: hidden;
 background-color: lightgrey;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: grey;
}

figure {
  margin: 0;
}

.heading {
  position: absolute;
  max-width: 250px;
  margin: 0 auto;
  font-size: 1.75vh;
  z-index: 1;
  position: relative;
  animation-name: headingspin;
  animation-duration: 180000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sub {
  font-size: 0.5em;
}

@keyframes headingspin {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(-180deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.abby {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: abbyspin;
  animation-duration: 180000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes abbyspin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.ben {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: benspin;
  animation-duration: 200000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes benspin {
    from {
        transform:rotate(24deg);
    }
    to {
        transform:rotate(384deg);
    }
}

.brandon {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: benspin;
  animation-duration: 548000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes brandonspin {
    from {
        transform:rotate(48deg);
    }
    to {
        transform:rotate(408deg);
    }
}

.caroline {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: carolinespin;
  animation-duration: 200000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes carolinespin {
    from {
        transform:rotate(72deg);
    }
    to {
        transform:rotate(432deg);
    }
}

.christienerissa {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: christienerissaspin;
  animation-duration: 509000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes christienerissaspin {
    from {
        transform:rotate(96deg);
    }
    to {
        transform:rotate(456deg);
    }
}

.clarise {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: clarisespin;
  animation-duration: 180000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes clarisespin {
    from {
        transform:rotate(120deg);
    }
    to {
        transform:rotate(480deg);
    }
}

.danielle {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: daniellespin;
  animation-duration: 281000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes daniellespin {
    from {
        transform:rotate(144deg);
    }
    to {
        transform:rotate(504deg);
    }
}

.elise {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: elisespin;
  animation-duration: 310000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes elisespin {
    from {
        transform:rotate(168deg);
    }
    to {
        transform:rotate(528deg);
    }
}

.elise {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: elisespin;
  animation-duration: 310000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes elisespin {
    from {
        transform:rotate(192deg);
    }
    to {
        transform:rotate(552deg);
    }
}

.julia {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: juliaspin;
  animation-duration: 265000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes juliaspin {
    from {
        transform:rotate(216deg);
    }
    to {
        transform:rotate(576deg);
    }
}

.juliette {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: juliettespin;
  animation-duration: 166000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes juliettespin {
    from {
        transform:rotate(240deg);
    }
    to {
        transform:rotate(600deg);
    }
}

.madalyn {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: madalynspin;
  animation-duration: 179000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes madalynspin {
    from {
        transform:rotate(264deg);
    }
    to {
        transform:rotate(624deg);
    }
}

.natalie {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: nataliespin;
  animation-duration: 183000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes nataliespin {
    from {
        transform:rotate(288deg);
    }
    to {
        transform:rotate(648deg);
    }
}

.pierina {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: pierinaspin;
  animation-duration: 170000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pierinaspin {
    from {
        transform:rotate(312deg);
    }
    to {
        transform:rotate(672deg);
    }
}

.rachel {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: rachelspin;
  animation-duration: 203000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rachelspin {
    from {
        transform:rotate(336deg);
    }
    to {
        transform:rotate(696deg);
    }
}

.sydney {
  position: absolute;
  width: 120vh;
  height: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 1.75em;
  font-family: serif;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.1);
  animation-name: sydneyspin;
  animation-duration: 425000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes sydneyspin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(720deg);
    }
}
